body {
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #d4d9da;
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 적용 */
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}

/* 타이틀 영역 */
#main-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700; /* 굵게 */
    line-height: 1.5;
}

.title {
    font-size: 130%;
}

#menu-bar {
    background-color: #0e0b0b88;
    overflow: hidden;
    border: 1px solid #d4d9da;
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 자식 요소를 중앙 정렬 */
    margin-bottom: 30px;
}
#menu-bar a {
    display: block;
    color: #d4d9da;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#menu-bar a:hover {
    background-color: #d4d9da;
    color: black;
}

#content {
    display: flex; /* 플렉스 박스 사용 */
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 자식 요소를 가로 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

#video {
    margin-bottom: 50px; /* 비디오와 소개 문장 간 간격 조정 */
}

#intro {
    margin-bottom: 20px;
}

#intro p {
    font-size: 1.2rem;
    max-width: 800px; /* 텍스트 폭 제한 */
    line-height: 1.6; /* 줄 간격 조정 */
}

#navigate-button {
    display: inline-block;
    margin-top: 20px; /* 버튼과 위 요소 간의 간격 */
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #333;
    border: 1px solid #d4d9da;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

#navigate-button:hover {
    background-color: #d4d9da;
    color: black;
}