body {
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #d4d9da;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

/* 타이틀 영역 */
#main-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

#menu-bar {
    background-color: #0e0b0b88;
    overflow: hidden;
    border: 1px solid #d4d9da;
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 자식 요소를 중앙 정렬 */
}

#menu-bar a {
    display: block;
    color: #d4d9da;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#menu-bar a:hover {
    background-color: #d4d9da;
    color: black;
}

#content {
    display: flex; /* Flexbox 활성화 */
    flex-direction: column; /* 내용들을 세로로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    min-height: 60vh; /* 부모 높이 기준 중앙에 배치 */
    padding: 20px;
}

#content p {
    font-weight: bold;
    font-size: large;
}

#content a {
    text-decoration: none;
    color: #d4d9da;
}

#content a:hover {
    color: #ffffff;
}